---
const { currentLocale = "es", url } = Astro;

const pathname = url.pathname;

let restUrl;

if (pathname.startsWith("/en")) {
  const segments = pathname.split("/").slice(2);
  restUrl = "/" + segments.join("/").replace(/\/+$/, "");
} else {
  restUrl = pathname.replace(/\/+$/, "");
}

const LOCALES: Record<string, { code: string; name: string; href: string }> = {
  en: {
    code: "en",
    href: `/en${restUrl}`,
    name: "English",
  },
  es: {
    code: "es",
    href: restUrl,
    name: "Español",
  },
};

const currentLocaleData = LOCALES[currentLocale];
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale
);
const currentPath = url.pathname.replace(currentLocaleData.href, "");
---

<div class="language-wrapper">
  <select id="language" aria-label="Select language">
    <option value={currentLocaleData.name} aria-label={currentLocaleData.name}>
      {currentLocaleData.name}
    </option>
    {
      otherLocales.map((locale) => (
        <option
          value={locale.name}
          data-url={`${locale.href}${currentPath}`}
          aria-label={locale.name}
        >
          {locale.name}
        </option>
      ))
    }
  </select>
</div>

<style>
  .language-wrapper {
    margin-left: 0.5rem;
  }

  select {
    font-family: "Fira Mono";
    cursor: pointer;
    display: inline-block;
    position: relative;
    font:
      normal 11px/22px Arial,
      Sans-Serif;
    color: black;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
  }

  .options li:hover {
    background-color: #39f;
    color: white;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const select = document.getElementById("language") as HTMLSelectElement;

    select.addEventListener("change", () => {
      redirect();
    });

    function redirect() {
      const selectedOption = select.options[
        select.selectedIndex
      ] as HTMLOptionElement;
      const url = selectedOption.getAttribute("data-url");

      if (url) {
        window.location.href = url;
      }
    }
  });
</script>
